click==8.1.7
ConfigParser==7.1.0
containers==0.0.4
contextlib2==21.6.0
control==0.10.1
cryptography==44.0.0
docutils==0.21.2
filelock==3.17.0
highlighter==0.2.0
HTMLParser==0.0.2
importlib_metadata==7.0.0
Jinja2==3.1.3
jnius==1.1.0
jupyter==1.0.0
keyring==25.6.0
MetaTrader5==5.0.4424
MetaTrader5==5.0.4803
mock==5.1.0
numpy==2.2.2
openai==1.60.1
pandas==2.2.3
panel==1.6.0
Pillow==11.1.0
pretty==0.1
pyOpenSSL==25.0.0
railroad==0.5.0
redis==5.2.1
setuptools==69.5.1
Sphinx==8.1.3
table==0.0.4
text==1.0.0
thread==2.0.5
xmlrpclib==1.0.1
